@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Comic Neue", sans-serif;
}

:root {
  --background-color: #cbc9c9;
  --text-color: #000;
  --button-background: #35e63b;
  --button-text: #fff;
  --button-hover-background: #3b9b40;
  --button-dislike-background-color: #e01f1f;
  --card-background-color: #bab9b9;

  --type-background: #faee7f;
  --ability-background: #4baaf7;
}

body.dark-mode {
  --background-color: #333;
  --text-color: #fff;
  --button-background: #4caf50;
  --button-text: #fff;
  --button-hover-background: #45a049;
  --button-dislike-background-color: #b71d1d;
  --card-background-color: #282828;

  --type-background: #d95116e0;
  --ability-background: #19588b;
}

.app {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

header {
  background-color: var(--background-color);
}
