.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.logo {
  width: 200px;
}

.card {
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 5px;
  border-radius: 15px;
  background-color: var(--card-background-color);
  border: 1px solid #595959;
}

.heartIcon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
}

.card h2 {
  margin-top: 80px;
  font-size: 1.5em;
  color: var(--text-color);
}

.card p {
  color: var(--text-color);
}

.startButton {
  margin-top: 20px;
  width: 100%;
  display: block;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;

  background-color: var(--button-background);
  color: var(--text-color);
  border-color: #414141;

  font-family: "Comic Neue";
  font-size: 16px;
}

.startButton:hover {
  background-color: var(--button-hover-background);
}
